In [1]:
student= "Aditya"

In [2]:
print(student)

Aditya

In [3]:
student.upper()

'ADITYA'

In [4]:
student.lower()

'aditya'

In [5]:
student[:5]

'Adity'

In [6]:
student[0:]

'Aditya'

In [7]:
student[::-1]

'aytidA'

In [8]:
student.split()

['Aditya']

In [31]:
stud= "Aditya"
male= True
height= 5.11

In [15]:
type(stud)

str

In [16]:
print(isinstance(stud, bool))

False

In [39]:
print("Is the height given, true or false?")
print(isinstance(height, float))
print(height)

Is the height given, true or false?
True
5.11

In [35]:
isinstance(male, int)

True

In [28]:
print(type(stud))
print(type(male))
print(type(height))

<class 'str'>
<class 'bool'>
<class 'float'>

In [36]:
isinstance(male, bool)

True

In [19]:
str1= "I have enrolled in python course"

In [2]:
len(str1)

32

In [3]:
str1.count('y')

1

In [3]:
str5="I have enrolled in python course"

In [6]:
str5.find('py')

19

In [20]:
str1.split()

['I', 'have', 'enrolled', 'in', 'python', 'course']

In [12]:
str1.replace("python","data science")

'I have enrolled in data science course'

In [13]:
print(str1.replace("python","data science"))

I have enrolled in data science course

In [8]:
str_update= "I have enrolled in data science course"

In [9]:
str3= " It is good"

In [11]:
print(str_update+","+ str3)

I have enrolled in data science course, It is good

In [22]:
print(str_update+str3)

I have enrolled in data science course It is good

In [26]:
name1= "I am human"
name2= "I am robot"

In [27]:
name1+","+name2

'I am human,I am robot'

In [3]:
str_1.replace("human","animal")

' I am animal'

In [6]:
str_1 + str_2

' I am humanI am robot'

In [7]:
str_3= " I am animal"

In [21]:
str_1 + str_3

' I am human,  I am animal'

In [25]:
 str_update.split()

['I', 'have', 'enrolled', 'in', 'data', 'science', 'course']

In [26]:
new_str= " I am learning python, jupyter notebook is the environment"

In [27]:
new_str.split(',')

[' I am learning python', ' jupyter notebook is the environment']

In [28]:
    str_1 + new_str

' I am human,  I am learning python, jupyter notebook is the environment'

In [29]:
print( str_1 + new_str)

 I am human,  I am learning python, jupyter notebook is the environment

In [30]:
name= "aditya"
course= "Data Science" 
height= 5.11
male= True

In [34]:
print(name, course, height)

aditya Data Science 5.11

In [36]:
print(name)
print(course)
print(height)
print(type(name))
print(type(course))
print(type(height))

aditya
Data Science
5.11
<class 'str'>
<class 'str'>
<class 'float'>

In [38]:
name.replace("aditya", "Aditya")

'Aditya'

In [39]:
name="Aditya"

In [41]:
print(name.replace("aditya", "Aditya"))
print(course)
print(height)
print(type(name))
print(type(course))
print(type(height))

Aditya
Data Science
5.11
<class 'str'>
<class 'str'>
<class 'float'>

In [42]:
student= "adi"
course= "data science"

In [43]:
print(name.replace("adi", "Aditya"))
print(course)

Aditya
data science

In [48]:
string= "Ma name is Johnny"

In [49]:
string.replace('a','y')

'My nyme is Johnny'

In [50]:
string.count('a')

2

In [52]:
string.count('is')

1

In [4]:
male= True

In [5]:
isinstance(male, int)

True

In [11]:
a= "Aditya is a good boy"
b= " He is genius"

In [19]:
print(a+","+b.lstrip())

Aditya is a good boy,He is genius

In [12]:
len(a)

20

In [14]:
print(a [0:6])
print(a [7:9])
print(a [10:11])
print(a[12:16])
print(a[17:20])

Aditya
is
a
good
boy

In [15]:
a.split()

['Aditya', 'is', 'a', 'good', 'boy']

In [28]:
a[0:]

'Aditya is a good boy'

## Python operators

In [29]:
name= input("enter your name")
if name== "Aditya":
    print("Name is correct")

else:
    print("Not correct name")

enter your name Aditya

Name is correct

In [33]:
name= input("Enter your name:")
if name== "Aditya":
    print("Thank you")

else:
    print("Please enter correct name")

Enter your name: Aditya

Thank you

In [2]:
input("Enter Name:")

Enter Name: adihns

'adihns'

In [42]:
str_1= input("Enter name:")
if str_1== "Adi":
    print("Correct")
    age= float(input("Enter age:"))
    if age>= 25:
        print("Adult")
        str_2= input("Enter your state:")
        if str_2== "Gujarat":
            print("Correct")
            str_3= input("Enter your country")
            if str_3 == "Bharat":
                print("Correct")
                age= float(input("Enter your age:"))
                if age>= 18:
                    print("Adult", "Thanks for the details..")
                else:
                    print("Minor")
            else:
                print("Incorrect")
            
        else:
            print("Incorrect")
    else:
        print("Incorrect")
else:
    print("Incorrect")

Enter name: Adi

Correct

Enter age: 28

Adult

Enter your state: Gujarat

Correct

Enter your country Bharat

Correct

Enter your age: 18

Adult Thanks for the details..

In [9]:
a= input("Enter name:")
if a== "Aditya":
    #print("Correct")
    b= float(input("Enter your age:"))
    if b>= 18:
        #print("Correct")
        c= input("Enter course:")
        if c== "Python":
            #print("Correct")
            gender= input("Enter your gender:")
            if gender== "Male":
                print("Correct")
            else:
                print("Wrong Input")
        else:
            print("Incorrect input")
    else:
        print("Correct")
             
else:
    print("Incorrect")

Enter name: Aditya
Enter your age: 28
Enter course: Python
Enter your gender: Male

Correct

## Date and calendar:

In [138]:
import calendar
print(calendar.month(2025,9,2))

   September 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [94]:
from datetime import date

In [95]:
my_date= date(2026,9,14)

In [96]:
print(my_date.isoweekday())

1

In [97]:
date(2026,6,27).isoweekday()

6

In [20]:
print(today)

2025-06-27

In [24]:
my_date1= date(2025,12,31)

In [27]:
my_date1

datetime.date(2025, 12, 31)

In [28]:
my_date1.isoweekday()

3

In [29]:
my_date1= date(2025,6,7)

In [30]:
my_date1.isoweekday()

6

In [33]:
from datetime import datetime as date1

In [60]:
today1= date1.now()

In [53]:
print(today1.minute)

14

In [54]:
today1.microsecond

363972

In [55]:
today1.hour

12

In [56]:
today1.second

40

In [50]:
today1.minute

9

In [51]:
today1.second

33

In [57]:
print("Current hour:", today1.hour)
print("Current year:", today1.year)

Current hour: 12
Current year: 2025

In [61]:
print(today1.hour)
print(today1.minute)

12
18

In [73]:
today= date1.now()

In [74]:
print(today.hour)   
print(today.minute)

12
21

In [75]:
today.second

53

In [108]:
today=date1.now()

In [109]:
print("Current hour:", today.hour)
print("Current minute:", today.minute)

Current hour: 12
Current minute: 55

In [110]:
date(2025,6,29).isoweekday()

7

In [16]:
from datetime import date

In [17]:
d1= date(2025,9,14)
d2= date(2025,6,27)
delta = d1-d2
print(delta.days)

79

In [18]:
print(d1>d2)

True

In [23]:
print(d1.strftime("%b %d, %Y"))

Sep 14, 2025

In [140]:
print(date(2025,6,27).strftime("%B %d,%Y"))

June 27,2025

In [145]:
name= input("Enter your name:")
if name== "Aditya":
    #print("Correct")
    age= float(input("Enter your age:"))
    if age>= 18:
        #print("Adult")
        qual= input("Enter your qualification:")
        if qual== "Masters":
            #print("Correct")
            gender= input("Enter your gender:")
            if gender== "Male":
                print("Correct, Thanks...")
            else:
                print("Wrong input")
        else:
            print("Incorrect")
    else:
        print("Minor")
else:
    print("Sorry, try again")

Enter your name: Aditya
Enter your age: 28
Enter your qualification: Masters
Enter your gender: Male

Correct, Thanks...

In [1]:
from datetime import date

In [25]:
date1= date(2025,9,14)

In [26]:
print(date1)

2025-09-14

In [13]:
date1.isoweekday()

7

In [30]:
print(date1.strftime("%b %d,%Y"))

Sep 14,2025

### List